/*****************************
 *           MOBILE          *
 *****************************/
body
  background-image: url(../img/sample-coarkboard2.jpg)


/*****************************
 *          DESKTOP          *
 *****************************/
// @media (min-width:768px)
