/*****************************
 *           MOBILE          *
 *****************************/
body
  background-color: grey

button
  &:focus
    outline: 1px dotted grey


/*****************************
 *          DESKTOP          *
 *****************************/
// @media (min-width:768px)
