/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#app
  background-image: url(../img/sample-coarkboard2.jpg)
  padding: 1em
  min-height: 100vh

  &-title
    background-color: white
    box-shadow: 0 4px 10px 1px black
    font-family: sans-serif
    font-size: 2em
    font-variant: small-caps
    font-weight: bold
    max-width: 300px
    margin: auto
    padding: 1rem 0
    text-align: center

// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (min-width:768px)
  // IDs
  #app
    border: 1em solid saddlebrown
    margin: 2em auto
    max-width: 1000px
    min-height: 500px


  // Classes
