/*****************************
 *           MOBILE          *
 *****************************/
// IDs

// Classes
.pupil
  &-image
    width: 100px
    height: 100px

    & img
      width: 100%
      height: auto

  &-name
    // text-align: center


/*****************************
 *          DESKTOP          *
 *****************************/
@media (min-width:768px)
  // IDs
  // #app



  // Classes
