/*****************************
 *           MOBILE          *
 *****************************/
// IDs

// Classes
.pupil
  padding: 1rem
  text-align: center

  &-image
    width: 100px
    height: 100px

    & img
      width: 100%
      height: auto


/*****************************
 *          DESKTOP          *
 *****************************/
@media (min-width:768px)
  // IDs
  // #app



  // Classes
